<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <title>MTP CONTROLLER</title>
</head>
<body style="background-color: rgb(223, 186, 75);">
    <div  style="text-align: center; background-color: rgb(90, 42, 39); height: 100px; display:flex;justify-content: center; text-align: center;">
        <H1 style="text-align: center; color: rgb(141, 91, 76);">MTP CONTROLLER</H1>

    </div>
    <div style=" display:flex;justify-content: center; text-align: center;">
        <button id="btn">clik me!</button>
    </div>
    <div id="btnstate" style=" display:flex;justify-content: center; text-align: center;">


    </div>
    
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script>
        var socket=io();
        var btn=document.getElementById('btn');
        btn.onclick=function(e){
            socket.emit('clicked message', 'clicked');
        }
        socket.on('clicked message', function(msg){
        document.getElementById('btnstate').innerHTML = msg;
 });

    </script>
</body>
</html>